.participants__card-img{
    width: 320px;
    height: 320px;
    margin-bottom: 28px;
}


@media screen and (max-width: 1000px) {
    .participants__card-img{
        width: 244px;
        height: 244px;
        
    }
  }