.participants__carousel-next{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    height: 44px;
    width: 44px;
    background-color: rgba(49, 49, 49, 1);
    border-radius: 2em;
    box-sizing: border-box;
    color: white;
}