.transformation__item-text{
    margin-top: 0px;
    margin-bottom: 20px;
  
    
   color: #313131;
  font-family: "GolosUIWebRegular", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;

}