.participants__block {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 50px;
}

.participants__title {
  display: flex;
  width: 600px;
  justify-content: space-between;
}

.participants__carousel {
  display: flex;
  max-height: 44px;
}

.participants__carousel-prev,
.participants__carousel-next {
  /* max-height: 44px; */
}

.participants__carousel-number {
  margin: 0px;
}

.participants__title-text {
  margin: 0px;
}

.participants__cards {
  padding: 0px;
  display: flex;
  gap: 10px;
  list-style: none;
  flex-wrap: wrap;
}

.participants__card-img {
  width: 150px;
}