.support-info__description-table_title {
  border: 1px solid rgba(208, 208, 208, 1); /* Параметры рамки */
  text-align: left; /* Выравнивание по левому краю */
  padding-bottom: 16px;
  padding-top: 16px;
  font-family: "GolosUIWebRegular", sans-serif;
  width: 43%;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: rgba(49, 49, 49, 1);
  opacity: 70%;
}

@media screen and (max-width: 850px) {
  .support-info__description-table_title {
    border: 0px;
    padding-bottom: 0px;
    width: 100%;
  }
}
