.participants__cards {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
@media screen and (max-width: 850px) {
  .participants__cards {
    justify-content: center;
  }
}
